<div [formGroup]="formGroup">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                <input type="text" formControlName="name" pInputText placeholder="Driver Name">
            </div>
        </div>
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-mobile-phone"></i></span>
                <input type="text" formControlName="mobile" pInputText placeholder="Mobile">
            </div>
        </div>
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-car"></i></span>
                <input type="text" formControlName="vehicleNo" pInputText placeholder="Vehicle No.">
            </div>
        </div>
    </div>
</div>