<p-panel header="New Catering Order">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">NO.</span>
                <input type="text" pInputText placeholder="Order Number Auto Generate" readonly>
            </div>
        </div>
        <div class="ui-g-12 ui-md-4">
            <p-calendar [style]="{'width':'100%'}" placeholder="Order Date" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
        </div>

        <div class="ui-g-12 ui-md-4">
            <p-dropdown [autoWidth]="false" [style]="{'width':'100%'}" placeholder="Customer"></p-dropdown>
        </div>
    </div>
    <p-panel header="Delivery Information" [toggleable]="true">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-4">
                <input type="text" pInputText placeholder="Contact Person" />
            </div>
            <div class="ui-g-12 ui-md-4">
                <input type="text" pInputText placeholder="Contact Number" />
            </div>
            <div class="ui-g-12 ui-md-4">
                <input type="text" pInputText placeholder="Contact Person" />
            </div>
            <div class="ui-g-12">
                <input type="text" pInputText placeholder="Delivery Address" />
            </div>
            <div class="ui-g-12 ui-md-4">
                <input type="text" pInputText placeholder="No. Of Pax" />
            </div>
            <div class="ui-g-12 ui-md-4">
                <input type="text" pInputText placeholder="Contact Number" />
            </div>
            <div class="ui-g-12 ui-md-4">
                <input type="text" pInputText placeholder="Contact Person" />
            </div>
            <div class="ui-g-12 ui-md-4">
                <div class="ui-g-12 ui-md-8">
                    <p-calendar [style]="{'width':'100%'}" placeholder="Event Date" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <p-calendar [timeOnly]="true" [stepMinute]="30" placeholder="Time"></p-calendar>
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div class="ui-g-12 ui-md-8">
                    <p-calendar [style]="{'width':'100%'}" placeholder="Delivery Date" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <p-calendar [timeOnly]="true" [stepMinute]="30" placeholder="Time"></p-calendar>
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div class="ui-g-12 ui-md-8">
                    <p-calendar [style]="{'width':'100%'}" placeholder="Collection Date" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <p-calendar [timeOnly]="true" [stepMinute]="30" placeholder="Time"></p-calendar>
                </div>
            </div>
        </div>
    </p-panel>
    <p-footer>
        <button pButton label="Save"></button>
    </p-footer>
</p-panel>