<p-growl [value]="msgs" sticky="sticky"></p-growl>

<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
    <p-panel header="Login System">
        <div class="ui-grid ui-grid-responsive ui-fluid" style="margin: 30px 0px">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <span class="ui-float-label">
                        <input id="float-input" type="text" size="30" pInputText formControlName="username"> 
                        <label for="float-input">Username</label>
                    </span>
                </div>
                <div class="ui-message ui-messages-error ui-corner-all ui-g-12 ui-md-6 ui-lg-6" *ngIf="!userform.controls['username'].valid&&userform.controls['username'].dirty">
                    <i class="fa fa-close"></i> User Name is required</div>
            </div>
            <!-- <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <span class="ui-float-label">
                    <input id="float-input" type="text" size="30" pInputText formControlName="username"> 
                    <label for="float-input">Username</label>
                </span>
                </div>
                <div class="ui-grid-col-12">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['username'].valid&&userform.controls['username'].dirty">
                        <i class="fa fa-close"></i> User Name is required
                    </div>
                </div>
            </div> -->
            <br>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <span class="ui-float-label">
                        <input id="float-input" type="text" size="30" pInputText formControlName="password"> 
                        <label for="float-input">Password</label>
                    </span>
                </div>
                <div class="ui-message ui-messages-error ui-corner-all ui-g-12 ui-md-6 ui-lg-6" *ngIf="!userform.controls['password'].valid&&userform.controls['password'].dirty">
                    <i class="fa fa-close"></i>
                    <span *ngIf="userform.controls['password'].errors['required']">Password is required</span>
                    <span *ngIf="userform.controls['password'].errors['minlength']">Must be longer than 6 characters</span>
                </div>
            </div>

            <!-- <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <span class="ui-float-label">
                    <input id="float-input" type="text" size="30" pInputText formControlName="password"> 
                    <label for="float-input">Password</label>
                </span>
                </div>
                <div class="ui-grid-col-12">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['password'].valid&&userform.controls['password'].dirty">
                        <i class="fa fa-close"></i>
                        <span *ngIf="userform.controls['password'].errors['required']">Password is required</span>
                        <span *ngIf="userform.controls['password'].errors['minlength']">Must be longer than 6 characters</span>
                    </div>
                </div>
            </div> -->
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <button pButton type="submit" label="Login" [disabled]="!userform.valid"></button>
                </div>
            </div>
            <!-- <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <button pButton type="submit" label="Login" [disabled]="!userform.valid"></button>
                </div>
                <div class="ui-grid-col-12"></div>
            </div> -->
            <div style="text-align:center;margin-top:20px" *ngIf="submitted">
                Form Submitted
                <br> {{diagnostic}}
            </div>
        </div>
    </p-panel>
</form>