<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>NO.</th>
                <th *ngFor="let column of columns">
                    {{column.title}}
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of datas; let i=index">

                <td>{{i+1}}</td>
                <td *ngFor="let column of columns">
                    {{data[column.field | demopipe] | demo2pipe: column.field}}
                </td>
                <td>
                    <a href="javascript:void(0);"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"
                        [popover]="popbuttons" #pop="bs-popover"
                        placement="left"></span></a>
                    <ng-template #popbuttons>
                        <div (mouseleave)="pop.hide()" class="{width: 100px; height: 40px;}">
                            <div> button group </div>
                            <div> button group </div>
                        </div>
                    </ng-template>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{{2 | demopipe: 10}}