/* .sidebar {
    padding-top: 60px;
    background-color: aliceblue;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

.showbtn {
    z-index: 1040;
    padding-top: 50px;
    padding-left: 30px;
}

.menu {
    width: 190px;
    z-index: 99;
}

.menu li {
    list-style-type: none;
}

a {
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    display: block;
} */