<!-- <accordion>
    <accordion-group *ngFor="let m of menuList" heading="{{m.title}}">
        <p>Some content</p>
    </accordion-group>
</accordion> -->


<!-- <div class="sidebar" [collapse]="sidemenuCollapsed">
    <div class="menu">
        <li *ngFor="let menuitem of menuList">
            <app-menuitem [item]="menuitem"></app-menuitem>
        </li>
    </div>
</div>
<div class="showbtn">
    <span *ngIf="!sidemenuCollapsed" class="glyphicon glyphicon-triangle-right" aria-hidden="true" (click)="sidemenuCollapse()"></span>
    <span *ngIf="sidemenuCollapsed" class="glyphicon glyphicon-triangle-left" aria-hidden="true" (click)="sidemenuCollapse()"></span>
</div> -->
<ul class="nav sidebar" *ngFor="let m of menuList">
    <app-menuitem [item]="m"></app-menuitem>
</ul>


<!-- <ul class="nav nav-sidebar">
    <li class="active"><a href="#home" data-toggle="tab">主页 <span
                        class="sr-only">(current)</span></a></li>
    <li><a href="#box" data-toggle="tab">盒子演示</a></li>
    <li><a href="#calendar" data-toggle="tab">日历演示</a>
        <ul class="nav-sidebar">
            <li><a href="#" data-toggle="tab">个人信息</a></li>
            <li><a href="#" data-toggle="tab">修改密码</a></li>

        </ul>
    </li>
    <li><a href="#form" data-toggle="tab">表单演示</a></li>
</ul> -->