<!-- <nav class="navbar navbar-default top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" (click)="moduleCollapsed = !moduleCollapsed">
        <span class="sr-only">SMING APP</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="#">SMing App</a>
        </div>

        <div class="collapse navbar-collapse" [collapse]="moduleCollapsed">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" *ngFor="let m of moduleList">
                    <a [routerLink]="m.url">{{m.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
<!-- 顶部导航栏 -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand" href="#home" data-toggle="tab">我的Bootstrap3网站</a>

            <!-- 分辨率低时显示的弹出顶部导航栏的按钮 -->
            <button type="button" class="navbar-toggle collapsed" (click)="moduleCollapsed = !moduleCollapsed">
                        <span class="sr-only">Toggle navigation</span> <span
                            class="icon-bar"></span> <span class="icon-bar"></span> <span
                            class="icon-bar"></span>
                    </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse" [collapse]="moduleCollapsed">
            <ul class="nav navbar-nav navbar-left">
                <li routerLinkActive="active" *ngFor="let m of moduleList">
                    <a [routerLink]="m.url">{{m.title}}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">设置</a></li>
                <li><a href="javascript:void(0);" [popover]="welcome" #pop="bs-popover" placement="bottom">退出</a></li>
            </ul>
        </div>
    </div>
    <ng-template #welcome>
        <div>
            <li><a href="#">设置</a></li>
            <li><a href="javascript:void(0);">退出</a></li>
        </div>
    </ng-template>
</nav>